body {
    background-color: rgb(32, 32, 32);
}

.main {
    max-width: 700px;
    height: 600px;
    margin: auto;

}

.penguin {
    max-width: 300px;
    display: flex;
    margin: auto;
    cursor: pointer;
    transition: 0.6s;
    animation-name: show;
    animation-duration: 2s;
}

.penguin:hover {
    transform: scale(103%);
}

.items {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 60px;
    flex-wrap: wrap;

    
}

.item {
    width: 150px;
    height: 50px;
    background-color: rgb(54, 51, 51);
    margin: 10px;
    color: white;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(68, 65, 65);
    cursor: pointer;
    transition: 0.6s;

}

.item:hover {
    background-color: rgb(77, 73, 73);
}


.game {
    max-width: 600px;
    height: 250px;
    background-image: url(tlo2.png);
    border: 1px solid rgb(68, 65, 65);
    margin-top: 10%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: auto;
    filter: grayscale(100%);
}

#kot {
    position: absolute;
    width: 100px;
    height: 68px; 
    bottom: 0;
    left: 50px; 
    background-size: cover; 
}

#kaktus {
    position: absolute;
    height: 48px; 
    bottom: 0;
    left: 600px; 
    background-size: cover; 
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(197, 197, 197);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    background-color: #1d1d1d;
    color: rgb(112, 112, 112);
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    bottom: 0;
    width: 100%;
    left: 0; 
    position: fixed;
}

.footer p {
    cursor: default;
    margin: 0;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






@keyframes show {
    0%{
        transform: translateY(-350px);

    }
    100%{

    }
}